*,li,a{font-family: sans-serif;padding: 0;margin: 0;text-decoration: none;list-style: none;color: white;}
/* esse body deve ser excluido novamente */
#id-div-container
{
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
    z-index: 9999;
    background-color: rgb(161, 59, 60);
    overflow-y: auto;
}
.class-img-logo
{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
#id-section-bloco-menu
{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.219);
    width: 100vw;
    height: 50px;
    position: sticky;
}
#id-ul-pai-li
{
    height: 50px;
    width: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-li,#id-button-aparece
{
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(161, 59, 60);
    background-color: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#id-button-aparece
{
    cursor: pointer;
    border: none;
    background: none;
}
#id-a-dif /*para não juntar do "Noticias com entrar"*/
{   
    display: block;
    width: 90px;
    height: 40px;
}
.cursor
{
    cursor: pointer;
}
.class-li:not(:last-child)
{
    margin-right: 10px;
}
/* CUIDADOS DO FORMS */

#id-form-login-hidden
{
    width: 300px;
    display: flex;
    justify-self: start;
    flex-direction: column;
    position: absolute;
    right: -300px;
}
#id-form-login-hidden.active
{
    right: 5px;
}
.class-span-nao-cadastrado, .class-span-nao-cadastrado em,.class-a-recupera-senha
{
    font-size: 17px;
    letter-spacing: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family:'Times New Roman', Times, serif ;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}
.class-a-recupera-senha
{
    background-color: rgb(219, 134, 23);
    margin-top: 0px;
    height: 20px;
    line-height: 20px;
    font-family:'Times New Roman', Times, serif ;
}
/* estilo dos input & labels*/
.class-label-hidden
{
    font-size: 18px;
    text-align: left;
}
#id-input-email,#id-input-password
{
    height: 25px;
}
/* ABAIXO SEGUE CONFIG DO ARTICLE */

#id-article-body
{   
    background-color: rgb(0, 0, 61);
}